html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    background: url(https://media.dnd.wizards.com/DragonPlus11_1280x960_WallpaperTemplate.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

#wrapper {
    height: auto;
    width: 100%;
    justify-content: center;
    display: flex;
    min-height: 100%;
}

#menu-area {
    position: relative;
    right: 0;
    top: 0px;
    width: 1060px;
    height: 60px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    overflow: hidden;
}

#menu-charactersheet {
    display: block;
    width: 50%;
    font-size: 16px;
    line-height: 60px;
    height: 100%;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 0px 4px #00000091;
    pointer-events: none;
}

.passive {
    z-index: 0 !important;
    background-color: rgb(123, 169, 255) !important;
    pointer-events: all !important;
}

.passive:hover {
    cursor: pointer;
    background-color: rgb(154, 190, 255);
}

#menu-backgroundinfo {
    display: block;
    width: 50%;
    font-size: 16px;
    line-height: 60px;
    height: 100%;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    box-shadow: -2px 0px 4px #00000091;
    pointer-events: none;
}

#character-sheet-info {
    display: block;
}

#background-sheet-info {
    display: none;
}

.character-sheet {
    background-color: #ffffff;
    width: fit-content;
    margin: auto;
    padding: 10px 0;
    position: relative;
}

.long-item {
    width: 100%;
}

.background-textarea {
    outline: none;
    width: 99%;
    border: none;
    display: block;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 30px;
    overflow-y: auto;
    word-wrap:break-word;
}

#content-part1 {
    display: flex;
    margin: auto;
}

#content-part2 {
    display: none;
}

.flex-container {
    display: flex;
    width: 80%;
    padding: 5px;
    flex-direction: row;
    min-width: 1050px;
    margin: 0px auto;
}

.flex-container .flex-item {
    margin: 0px 5px;
}

.flex-item {
    background-color: rgb(211, 213, 224);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.item0 {
    width: 50%;
}

.item0 .box {
    height: 100%;
    margin: 0;
    line-height: 80px;
    display: flex;
}

.nameHeader {
    outline: none;
    border: none;
    font-size: 25px;
    text-align: center;
    width: 80%;
    display: block;
    margin: auto;
    font-weight: bold;
}

.background-line {
    background-color: #ffffff;
    border: 1px solid black;
    padding: 5px;
}

.item0 h2 {
    margin: 0;
    padding: 20px;
}

.info-cluster {
    display: flex;
    margin: 5px;
}

.person-information {
    margin: 0;
    width: 50%;
    text-align: left;
    padding: 5px 5px 10px 5px;
}

.person-content:first-of-type {
    border-bottom: 1px solid black;
}

.person-information h4{
    margin: 1px 0 0 0;
}

.infoInput {
    margin: 0px 0 2px 0;
    outline: none;
    border: none;
    font-weight: bold;
    width: 98%;
    font-size: 14px;
    display: block;
}

.item1 {
    padding-top: 10px;
    width: 130px;
    display: flex;
    flex-direction: column;
}

.score-box {
    background-color: #ffffff;
    border: 1px solid black;
    height: 80px;
    margin: 10px 0;
    position: relative;
    padding: 0 5px;
}

.score-circle {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 100%;
    width: 40px;
    height: 30px;
    left: 46%;
    bottom: -15px;
    transform: translate(-46%);
}

h2 {
    margin-top: 0;
    font-size: 25px;
}

h1, h3 {
    margin-bottom: 5px;
    font-size: 12px;
    margin-top: 3px;
}

.h2 {
    margin: 0px 0 2px 0;
    outline: none;
    border: none;
    font-weight: bold;
    margin-top: 7px;
    width: 94%;
    font-size: 25px;
    display: block;
    text-align: center;
    background: none;
}

#currentHitDice {
    margin-top: 5px;
}

.h3 {
    margin: 0px 0 2px 1px;
    outline: none;
    border: none;
    font-weight: bold;
    margin-top: 7px;
    width: 88%;
    font-size: 12px;
    display: block;
    text-align: center;
    background: none;
}

.h4 {
    margin: 0px 0 0px 2px;
    outline: none;
    border: none;
    padding-bottom: 0;
    width: 97%;
    font-size: 13px;
    display: block;
    text-align: center;
    background: none;
}

.h6 {
    margin: 0px 0 2px 0;
    outline: none;
    border: none;
    width: 94%;
    font-size: 12px;
    display: block;
    text-align: left;
    background: none;
    background-color: #F0F1F2;
    padding: 5px;
}
  
.item2 {
    min-width: 210px;
    padding-top: 10px;
}

.inspiration {
    height: 40px;
    margin: 15px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.box-square {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-top: -5px;
    margin-left: -5px;
    position: absolute;
}

.box-square input:hover {
    cursor: pointer;
}

.box-square input {
    width: 100%;
    height: 100%;
    outline: none;
    margin: 0;
    border: none;
    border-radius: 0px;
    background: none;
}

.long-box-with-circle {
    height: 40px;
    margin: 15px 0;
    position: relative;
    display: flex;
    flex-direction: row;
}

.box-circle {
    border: 1px solid black;
    width: 45px;
    border-radius: 100%;
    height: 45px;
    background-color: #ffffff;
    margin-top: -3px;
    margin-left: -5px;
    position: absolute;
}

.box-header {
    width: 100%;
    line-height: 32px;
    background-color: #ffffff;
    border: 1px solid black;
    margin-left: 30px;
    padding: 0 20px;
}

h4 {
    font-size: 11px;
    margin: 0;
    font-weight: 100;
}

h5 {
    font-size: 12px;
    margin: 0;
    color: red;
}

.proficiency-box {
    border: 1px solid black;
    background-color: #ffffff;
    padding-top: 5px;
    margin-bottom: 15px;
}

grey {
    color: grey;
}

.description {
    margin-top: 10px;
}

.prof-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 3px 0;
}

.prof-circle {
    margin-left: 10px;
}

.prof-input {
    width: 25px;
    border-bottom: 1px solid black;
    margin: 0 12px;
}

.h5 {
    margin: 0px 0 0px 0;
    outline: none;
    border: none;
    font-weight: bold;
    margin-top: 0px;
    width: 85%;
    font-size: 12px;
    display: block;
    text-align: center;
    background: none;
}

.item3 {
    width: auto;
    display: flex;
    max-width: 300px;
    flex-direction: column;
    padding-top: 10px;
}

.horizontal-group {
    margin: 0 auto;
    margin: 15px 0 13px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.horizontal-group .h2 {
    margin-top: 15px;
}

.box-xl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    background-color: #ffffff;
    width: 80px;
    height: 80px;
    margin: 0 5px;
    padding: 5px;
}

.box-xl h1 {
    margin: 0;
}

.box-xl h2 {
    margin: 0;
    padding-top: 15px;
}

.box {
    background-color: #ffffff;
    border: 1px solid black;
    margin: 2px 5px;
}

.margin-top {
    padding-top: 50px;
}

.hitpoints-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 10px;
    color: grey;
    margin-bottom: 5px;
}

.text-line {
    flex: 1;
    margin-top: -3px;
    border-bottom: 1px solid black;
}

.information-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 10px 5px 10px;
    color: grey;
    margin-bottom: 0px;
}

.box-2 {
    background-color: #ffffff;
    border: 1px solid black;
    margin: 2px 5px;
    width: 50%;
    height: auto;
}

.box-2 h1 {
    margin: 5px 0 0 0;
}

.box-2 h2 {
    margin: 0;
}

.flex-stretch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.triad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5px;
    margin: 10px 0 0 0;
}

.triad-header {
    padding-right: 5px;
}

.weapon-bonus {
    text-align: center;
}

.weapon-list, .proficiency-list {
    padding-top: 5px;
}

.flex-row {
    display: flex;
    justify-content: center;
}

#hitdice {
    display: inline-block;
    margin-left: 3px;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-color: transparent;
    margin-bottom: -5px;
    font-weight: bold;
}

#hitdice:hover {
cursor: pointer;
}

.triad-circle {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 100%;
    margin: 0 2px;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 2px 10px;
}

.list-item > div {
    text-align: left;
}

.list-name {
    width: 45%;
    margin-left: 0px;
    margin-right: 8px;
}

.list-bonus {
    width: 10%;
    margin-right: 10px;

}

.list-attack {
    width: 45%;
    margin-right: 5px;
    margin-left: 3px;

}

.item4 {
    width: 60%;
    min-width: 250px;
    background: none;
    padding: 0px;
}

.item4 section {
    background-color: rgb(211, 213, 224);
    padding: 20px;
}

.item4 .box {
    margin-top: 5px;
}

.nomargin {
    margin-top: 0 !important;
}

.textarea {
    width: 95%;
    resize: none;
    height: 80px;
    margin-top: 5px;
    outline: none;
    border: none;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.trait-list {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}

.trait-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.trait-item input {
    border: none;
    outline: none;
}

.trait-name {
    font-size: 16px;
    font-weight: bold;
}

.trait-text {
    outline: none;
    width: 99%;
    border: none;
    display: block;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;

    min-height: 30px;
    overflow-y: auto;
    word-wrap:break-word;
}

.box-absolute {
    position: absolute;
    min-width: 240px;
    margin: 25px;
}

.item5 {
    width: 347px;
    padding-top: 5px;
}

.item6 {
    width: 300px;
}

.item6-content {
    display: flex;
    flex-direction: row;
}

.left-side {
    padding-top: 7px;
    width: 60px;
    display: flex;
    flex-direction: column;
}

.money-box {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5px 0 5px 4px;
}

.money-type {
    background-color: #ffffff;
    border: 1px solid black;
    padding: 5px 10px 5px 3px;
    margin-left: -20px;
    height: 11px;
    margin-top: 5px;
    line-height: 12px;
    position: absolute;
    z-index: 3;
}

.money-amount {
    width: 100%;
    padding: 4px 10px 2px 10px;
    background-color: #ffffff;
    border: 1px solid black;
    z-index: 4;
}

.money-box input {
    margin-top: 0;
}

.right-side {
    width: 100%;
    margin-left: 5px;
    padding-top: 7px;
}

.right-side .list-name {
    width: 10%;
    margin-right: 5px;
    text-align: center;
}

.right-side .list-bonus {
    width: 80%;
    margin-left: 8px;
    margin-right: 2px;
}

.right-side .list-attack {
    width: 10%;
    margin-right: 8px;
    margin-left: 3px;
}

.equipment-amount, .equipment-weight {
    text-align: center;
}

.list-type {
    width: 40%;
    margin-right: 5px;
    text-align: center;
}

.list-info {
    width: 60%;
    margin-right: 2px;
}






.randomizer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#wait {
    margin: auto;
    display: none;
}

#wait img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 40px;
    animation: rollDice 2s infinite;
}

@keyframes rollDice {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.button {
    height: 90px;
    width: 460px;
    background-image: linear-gradient(to left, rgb(65, 60, 60), rgb(99, 90, 94), rgb(136, 103, 103), rgb(141, 93, 93), rgb(138, 54, 54));
    margin: auto;
    cursor: pointer;
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    display: flex;
    border-bottom: 4px solid rgb(53, 65, 73);
}

#button2 {
    display: none;
    width: 300px;
}

.button:hover > .button-icon img {
    animation: rollDiceOnce 3s infinite;
}

@keyframes rollDiceOnce {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.button-icon {
    width: auto;
    padding: 0 10px 0 60px;
    display: flex;
}

.button-icon img {
    display: block;
    margin: auto;
    height: 50px;
    filter: invert(100%) sepia(4%) saturate(571%) hue-rotate(175deg) brightness(96%) contrast(98%);
}

.button-text {
    width: 100%;
    color: #F0F1F2;
    padding-left: 10px;
    line-height: 100px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

#box {
    display: none;
    width: 95%;
    height: 95%;
    margin: auto;
}

.projectInformation {
    background-color: rgb(255, 255, 255);
    box-shadow: -2px 0px 5px #00000069;
    width: 32%;
    height: 100%;
    min-width: 350px;
    max-width: 500px;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    z-index: 10;
}

.projectInformation > div {
    padding: 15px;
}

.projectInformation h2 {
    margin: 5px 0 0 0;
    padding: 0;
    background: none;
    font-weight: 100;
}

.projectInformation h3 {
    font-weight: 100;
}

.projectInformation p {
    margin: 5px 0 10px 0;
    padding: 0;
    font-size: 15px;
}

.projectInformation ul {
    margin-left: 20px;
    margin-top: 7px;
    padding: 0;
    font-size: 15px;
}

.projectInformation li {
    margin-bottom: 5px;
}

.projectInformation a {
    color: #14488d;
    font-weight: 600 !important;
    text-decoration: none;
}

.projectInformation a:hover {
    text-decoration: underline;
}

#showinfo {
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 11;
    background-color: #fffb1c;
    color: black;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 13px;
}

#showinfo:hover {
    background-color: #ffda0a;
}
